In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('/content/salary.csv')
data

    YearsExperience  Salary  age  company_change          type
0               1.1   39343   21               1        junior
1               1.3   46205   31               0        middle
2               1.5   37731   29               1        middle
3               2.0   43525   30               1        middle
4               2.2   39891   27               1        middle
5               2.9   56642   36               0        middle
6               3.0   60150   30               0        middle
7               3.2   54445   34               1        middle
8               3.2   64445   29               0        middle
9               3.7   57189   36               1        middle
10              3.9   63218   33               0        middle
11              4.0   55794   37               1        middle
12              4.0   56957   29               1        middle
13              4.1   57081   27               1        middle
14              4.5   61111   25               1        junior
15              4.9   67938   29               0        middle
16              5.1   66029   38               0        middle
17              5.3   83088   39               0        middle
18              5.9   81363   37               0        middle
19              6.0   93940   40               0        senior
20              6.8   91738   37               1        middle
21              7.1   98273   34               1        middle
22              7.9  101302   29               0        middle
23              8.2  113812   42               0        senior
24              8.7  109431   43               0        senior
25              9.0  105582   39               0        middle
26              9.5  116969   45               0        senior
27              9.6  112635   37               0        middle
28             10.3  122391   29               0        middle
29             10.5  121872   56               0  super senior

In [ ]:
x=np.array(data['YearsExperience'])
y=np.array(data['Salary'])
l=len(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=32)
lx=len(x_train)

In [ ]:
class mini_batch_gradient_descent:
    
    def create_batch(self,x_train,y_train,batch_size):
        mini_batches=[]
        data=np.stack((x_train,y_train),axis=1)
        np.random.shuffle(data)
        no_of_batches=x_train.shape[0]//batch_size
        for i in range(no_of_batches):
            mini_batch=data[i*batch_size:(i+1)*batch_size]
            mini_batches.append((mini_batch[:,0],mini_batch[:,1]))
        if x_train.shape[0]%batch_size!=0:
            mini_batch=data[(i+1)*batch_size:]
            mini_batches.append((mini_batch[:,0],mini_batch[:,1]))
        return mini_batches

    def fit(self,x_train,y_train,alpha,epochs,batch_size):
        self.m=np.random.randn(1,1)
        self.c=np.random.randn(1,1)
        l=len(x_train)
        for i in range(epochs):
            batches=self.create_batch(x_train,y_train,batch_size)
            for batch in batches:
                xb=batch[0]
                yb=batch[1]
                xb=xb.reshape(1,xb.shape[0])
                intecept=np.sum((np.dot(self.m,xb)+self.c)-yb)
                slope=np.sum(((np.dot(self.m,xb)+self.c)-yb)*xb)
                self.m=self.m-alpha*(slope/l)
                self.c=self.c-alpha*(intecept/l)

    def slope_intercept(self):
        print(f"slope is {self.m[0][0]}")
        print(f"intecept is {self.c[0][0]}")
      
    def predict(self,x_test):
        x_test=x_test.reshape(x_test.shape[0],1)
        self.m=self.m.reshape(self.m.shape[1],self.m.shape[0])
        result=np.dot(x_test,self.m)+self.c
        return result

In [ ]:
mgd=mini_batch_gradient_descent()

In [ ]:
mgd.fit(x_train,y_train,0.01,4000,4)

In [ ]:
mgd.slope_intercept()

slope is 9653.26005432182
intecept is 25231.707794627335

In [ ]:
y_pred=mgd.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import explained_variance_score

In [ ]:
print(mean_squared_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(mean_absolute_error(y_test,y_pred))
print(explained_variance_score(y_test,y_pred))
print(r2_score(y_test,y_pred))

32646099.514371783
5713.67653217889
5551.731843288678
0.9612155303203236
0.9554004313457212